@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section{
    background-image: url('/public/assets/hero-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

/* for testing purpose */
/* *{
    outline: 1px solid green;
} */

.active {
    background-color: rgb(203 213 225) !important;
}
.card-image{
    width: 120px;
    height: 120px;
}
.categoryBg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .2s ease;
}
.newsletterBg{
    background-image: url('/public/assets/newsletter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}