@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section{
    background-image: url('/public/assets/hero-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

/* for testing purpose */
/* *{
    outline: 1px solid green;
} */


.card-image{
    width: 120px;
    height: 120px;
}